@import "../../sass-utils/mix";
@import "../../sass-utils/variables";
.component_qh_progress{
    .ui-dialog-bg{
        background: rgba(0,0,0,0.4);
    }
    .cqp_wrapper{
        position: fixed;
        left: 0;
        top:0;
        right:0;
        bottom:0;
        z-index: 960;
        background: transparent;
        overflow-y: auto;
    }
    .cqp_container{
        padding-top: rpx2(52);
    }
    .cqh_img_con{
        width: rpx2(60);
        height: rpx2(60);
        padding: rpx2(6);
        background: #ffffff;
        border-radius: 100%;
        top: rpx2(-36);
        left: 50%;
        margin-left: rpx2(-36);
        .cqp_image{
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
    }
    
    .cqp_con{
        background: #ffffff;
        margin:rpx2(36) rpx2(30) 0 rpx2(30);
        padding: rpx2(39) rpx2(24) rpx2(34);
        border-radius: rpx2(6);
        .cqp_btn{
            background: #F6F8FA;
            height: rpx2(20);
            line-height: rpx2(20);
            font-size:rpx2(10);
            color: #96989C;
            padding:0 rpx2(6);
            margin: 0 rpx2(15) 0 rpx2(10);
            border-radius: rpx2(3);
        }
        .cqp_btn_ing{
            background: #272636;
            color:#ffffff;
        }
    }
    .cqp_close{
        margin: rpx2(18) auto;
        text{
            font-size:rpx2(34);
            color:#ffffff;
        }
    }
}