@import "./mix";
@import "./icons";

@keyframes ui-loading {
  0% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }

  50% {
    -webkit-transform: scaley(0.4);
    transform: scaley(0.4);
  }

  100% {
    -webkit-transform: scaley(1);
    transform: scaley(1);
  }
}

.ui-c1 {
  color: $c1;
}
.ui-c2 {
  color: $c2;
}
.ui-c3 {
  color: #858484;
}
.ui-font-pf-sem {
  font-family: "PingFangSC-Semibold";
}

.ui-no-data {
  text-align: center;
  padding: rpx2(20) 0;
  color: #aaaaaa;
}
.ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

