@import "../../sass-utils/mix";
@import "../../sass-utils/variables";
.page-index {
    // background: #F8FAFB;
    .swiper-item{
      background-color: #FFF7ED;
    }
    .home_header {
        height: rpx(284);
        position: relative;
        .home_header_img {
            width: 100%;
            height: rpx(284);
        }
    }
    .slide-block{
      margin: 0 rpx(30);
    }
    .disc {
        position: absolute;
        left:0;
        bottom: rpx2(10);
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: center;
        width: 100%;
        .disc-item {
            width: rpx(14);
            height: rpx(14);
            margin-right: rpx(8);
            border-radius: 50%;
            border:rpx2(1) solid $c1;
            &:last-child {
                margin-right: 0;
            }
            &.active {
                background: $c1;
            }
        }
    }
    .nodata{
        background:#F8FAFB;
        padding-top: rpx2(60);
    }
    .icon-nodata{
        width: rpx2(150);
        margin:0 auto rpx2(70);
     }
     .quick-block{
       margin: rpx(35) 0 rpx(25);
       display: flex;
       .cell{
        width: 25%;
         text-align: center;
       }
       .icon{
         width: 60%;
         margin: 0 auto;
       }
     }
     .block-tip{
       background-color: $c1;
       line-height: rpx(60);
       color: #fff;
       margin: 0 rpx(30) rpx(20) rpx(24);
       box-shadow: rpx(10) rpx(8) rgba(#ebebeb,.5);
       font-size: rpx(26);
       position: relative;
       padding-left: rpx(65);
       .icon-clock{
         position: absolute;
         left: 0;
         top:rpx(-2);
         width: rpx(60);
       }
     }
     .list-view{
       padding: rpx(20) rpx(30);
       .view-item{
         position: relative;
         box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
         padding: rpx(23) rpx(175) rpx(30) rpx(30);
         margin-bottom: rpx(24);
       }
       .title{
         font-size:rpx(28);
         margin-bottom: rpx(15);
        //  font-weight: bold;
       }
       .distance,.time{
         color:#7D8198;
       }
       .distance{
         margin-bottom: rpx(43);
         font-size: rpx(21);
       }
       .time{
         font-size: rpx(19);
       }
       .pet-img{
         position: absolute;
         width: rpx(170);
         height:100%;
         right: 0;
         top: 50%;
         transform: translateY(-50%);
       }
     }
    .search_wrap {
       margin:rpx(20) rpx(30);
      position: relative;
      padding-left: rpx(200);
        .input-wrapper{
          display: flex;
          justify-content: space-between;
        }
        .picker-ele{
          width:rpx(200);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        .input{
          border:1px solid $c1;
          flex: 1;
        }
        .gosearch{
          width: rpx(93);
          line-height: rpx(50);
          background-color: $c2;
          color: #fff;
          margin-left: rpx(14);
          font-size: rpx(24);
        }
    }

}
