@import "../../sass-utils/mix";
@import "../../sass-utils/variables";
.component_fw_content{
    .tr{
      text-align: right;
    }
    .image{
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
    .img_header{
        width: rpx2(38);
        height: rpx2(38);
    }
    .border_12{
        border-bottom: rpx2(12) solid #F8FAFB;
    }
    .label_nav{
        .text{
            display: inline-block;
            font-size: rpx2(12);
            padding: 0 rpx2(10);
            line-height: rpx2(25);
            height: rpx2(25);
            margin-right: rpx2(12);
            margin-bottom: rpx2(12);
            background: #F6F8FA;
            border-radius: rpx2(3);
        }
        .active{
            background: #272636;
            color:#ffffff;
        }
    }
    .label_item{
        background: #F6F8FA;
        padding: 0 rpx2(15);
        height: rpx2(28);
        line-height: rpx2(28);
        margin: 0 rpx2(5) rpx2(6) 0;
        border-radius: rpx2(20);
    }
    .img_li{
        width: rpx2(98);
        height: rpx2(98);
        margin: 0 rpx2(2) rpx2(2) 0;
    }
    .border_1{
        border-bottom: rpx2(1) solid #E7EAED;
        &:last-child{
            border-bottom: none;
        }
    }
    .store_ask{
        padding: rpx2(10);
        background: #F8FAFB;
        font-size: rpx2(10);
        color:#666666;
        line-height: rpx2(15);
    }
}
