@import "../../sass-utils/mix";
@import "../../sass-utils/variables";
.page-column{
  padding:rpx(20);
}
.el-card{
  box-shadow: 0 rpx(2) rpx(12) 0 rgba(0, 0, 0, 0.1);
  padding: rpx(30);
  .image-view{
    display: flex;
    padding: rpx(32) 0 rpx(10);
    .item{
      width: rpx(151);
      height: rpx(151);
      margin-right: rpx(7);
      margin-bottom: rpx(10);
    }
    .img{
      width: 100%;
      height: 100%;
    }
  }
}
