@import "../../sass-utils/variables";
@import "../../sass-utils/mixin";
/*@import "/styles/icons.scss";*/

@keyframes g-loading {
    0% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0.4);
    }
    100% {
        transform: scaleY(1);
    }
}

.g-loading {
    padding: 20px 0;
    font-size: 0;
    text-align: center;

    & > .view {
        display: inline-block;
        width: 2px;
        height: 15px;
        margin: 3px;
        font-size: 0;
        background-color: #cc3333;
        border-radius: 2px;
        -webkit-animation-fill-mode: both;
        animation: g-loading 0.5s 0s infinite
            cubic-bezier(0.85, 0.25, 0.37, 0.85);
        animation-fill-mode: both;
        animation-delay: 0.4s;

        &:nth-child(2n) {
            animation-delay: 0.2s;
        }
    }
}

.g-loading-over {
    text-align: center;
    color: #999999;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    ._line {
        display: none;
        width: 30px;
        border-bottom: 1px solid #ccc;
        margin: 0 20px;
    }
}

.g-no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 20px 0;

    .g-no-data-icon {
        text-align: center;
        margin-bottom: 30px;
        // margin-top: 100px;
        width: rpx2(150);
        height: rpx2(170);
        // background: rgba(230, 230, 230, 1);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 60px;
    }
    .no-data-img {
        height: auto;
    }

    .g-no-data-text {
        font-size: 12px;
        color: #666;
        text-align: center;
        line-height: 1;
        //margin-bottom: 10px;
    }

    .g-no-data-btn {
        margin-top: 60px;
        width: 235px;
        height: 45px;
        background: rgba(230, 43, 0, 1);
        border-radius: 100px;
        font-size: 18px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
